{
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "bracketSameLine": true,
  "printWidth": 500,
  "plugins": ["prettier-plugin-tailwindcss"]
}
